<h1>Name: <%= @gym.name %></h1>

<h3>Address: <%= @gym.address %></h3>

<% @gym.clients.each do |client| %>
    <p><%= link_to client.name, client_path(client) %></p>
<% end %>

<%= button_to "All Gyms", gyms_path, method: "get" %>

<%= button_to "Delete Gym", gym_path(@gym), method: "delete" %>

<div>
    <%= link_to "Gyms", gyms_path %> | <%= link_to "Clients", clients_path %> | <%= link_to "Register Membership", new_membership_path %> | <%= link_to "Add A Gym", new_gym_path %> | <%= link_to "Add A Client", new_client_path %>
</div>